body {
    background-image: url('img/shrektriste.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
  }

  .container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .sub__frase {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
  }